.row{
    padding: 20px;
    background-color: white;
    color: black;
}
.contenedor{
    width: auto;

}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
img{
    width: 50%;
}