<div class="row border border-black border-3 rounded-4">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevoproye" *ngIf="isLogged">
            Nuevo proyecto.
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyectos of proyectos">
                    <td>
                        <h2>{{Proyectos.nombreP}}</h2>
                    </td>
                    <td>{{Proyectos.descripcionP}}</td>
                    <td><img src="{{Proyectos.img}} "id="fotoproyecto" alt="">   </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-success" routerLink="/editproye/{{Proyectos.id}}"><i
                                class="bi bi-pencil-square"></i>EDITAR</button>
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyectos.id)"><i
                                class="bi bi-trash3"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    

    

</div>