<div class="row border border-black border-3 rounded-4">
  <h1>Hard & Soft Skills</h1>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary" routerLink="/nuevaskill" *ngIf="isLogged">
        Agregar
    </button>
</div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let Skills of skill">
    <circle-progress
  [percent]="(Skills.porcentaje)"
  [radius]="100"
  [imageSrc]="''"
  [title]="(Skills.nombre)"
  [titleColor]="'black'"
  [titleFontWeight]="'bold'"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0073b1'"
  [innerStrokeColor]="'#0073b1'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
<td *ngIf="isLogged">
  <button class="btn btn-success" routerLink="/edithys/{{Skills.id}}"><i
          class="bi bi-pencil-square"></i>EDITAR</button>
</td>

<td *ngIf="isLogged">
  <button class="btn btn-danger" (click)="delete(Skills.id)"><i
          class="bi bi-trash3"></i>BORRAR</button>
</td>

</div>
</div>