<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo3.png" alt="" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/gino-cannata-24686521a/"><img src="../../../assets/linkedin.png" alt="" id="linkedin"></a>
                <a href="https://twitter.com/GinoCannata"><img src="../../../assets/twitter.png" alt="" id="twitter"></a>
                <a href="https://www.instagram.com/ginocannata/"><img src="../../../assets/instagram.png" alt="" id="instagram"></a>
                <a href="https://www.facebook.com/ginocannata22/"><img src="../../../assets/facebook2.png" alt="" id="facebook"></a>
                <a href="https://github.com/ginocannata"><img src="../../../assets/github.png" id="github" alt=""></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="isLogged" >Cerrar Sesión</button>
            </div>
        </div>
    </div>
</div>

